/* layout */
/*barra de navegação*/



html,body, .capa{
	height: 100%;
}

body{
/*	background-image: url('imagens/fundo7.jpg'); */ 
    background-color: #33cc66;
	background-repeat: no-repeat; 
	background-size: 15000px; 
	font-family: Helvetica, Arial, Sans-serif;
}


.img-logo {
	 
	display: block;
	padding: 5px;
	background-size: contain;
	color:#000000;
}

nav.navbar-transparent{
	padding: 15px 0px;
	background: rgba(051, 255, 102, 0.5);
	border:none;

}

.navbar-brand{
	padding: 0px;
	padding-top: 10px;
}

.navbar-inverse .navbar-nav>li>a {
	color: #000000;
}

.navbar-inverse .navbar-nav>li>a hover{
	background-color: #006400 ;
	color: #ffff;
}

/*imagem capa ---- */
.capa{
	/*border: 1px solid red;*/
	display: table;
	width: 100%;

}

.texto-capa{
	text-align: center;
	color: #000000;
	display: table-cell;
	vertical-align: middle;
	text-shadow: 0 0 0.2em #ffffff;
}
h1{
	font-size: 100px;
	font-weight: 900px;
	letter-spacing: -0.06em;
}

h3{
	letter-spacing: 1px;
	line-height: -2px;

}

.texto-capa2{
	padding: -5px;
}

#cont{
	border-style: solid;
	border: 1px;
	border-radius: 25px;
	background: rgba(051, 255, 000, 0.5);
	padding: 12px 10px;
	height: 50px;
	color:#000000;
    align-items: center;

}

#ima{
	
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px; 
}

#im{
	right: 55px;
	width: 30px;
}

.capa .texto-capa >div>a{
	background-color: #006400;
    color: #fff;
}

.capa .texto-capa>div>a{
	color: #333333;
}

#lin{
 text-decoration: none;
 color: #000000;
 font-size: 30px;
}

.menu1 li>a:hover{
	padding: 15px;
	width: 100%;
	background-color: rgb(255, 255, 255, 0.5);
	color: rgb(255, 255, 255);
	align-items: center;
}

.menu1 li>a:link{
	padding: 3px 55px;
	width: 20px;
	/*background-color: rgb(0, 128, 0, 0.6);*/
	color: black;
	align-items: center;
	text-decoration: none;
}

.menu1 li>a{
	padding: 15px;
	width: 50px;
	/*background-color: rgb(0, 128, 0, 0.6);*/
	color: #006400;
	align-items: center;
}

.menu1 li>a:visited{
  color: black;
  text-decoration: none;
}

/*estilo para página de plantas de forração */

 .sombra{
 	width: 180px;
 	
 }

 #estiloC{
 	 padding-left: 20px;
 	 padding-right: 20px;
     }

.estiloa{
	align-items: center;
}

/* fim da formatação para páginas de plantas de forração*/

.efect{
	transform: scale(2, 3);
}

